* {
  font-family: Arial, Helvetica, sans-serif
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
ul li{
  list-style-type: none;
}
.mainmenu{
  background-color: lightblue;
  overflow: hidden;
  height: auto;
}
.mainmenu-img{
  float: left;
  display: block;
  height: 4rem;
  width: auto;
}
.mainmenu-item a{
  float: right;
  display: block;
  text-align: center;
  font-size: large;
  padding: 25px 25px;
  text-decoration: none;
}
.mainmenu-item :hover{
  background-color: rgb(104, 202, 235);
  color: black;
}
.carousel img{
  width: 100%;
  height: auto;
}
.tabs{
  background-color: aquamarine;
  padding: 5%;
  display: block;
}


