<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FlyDreamAir</title>

  <link rel='stylesheet' type='text/css' href='main.css'>
  <link rel='stylesheet' type='text/js' href='main.js'>
  <script src='main.js'></script>

</head>
<body>
  
  <div class="page">

    <header class="header" role="banner">
      <div>
        <ul class="mainmenu">
          <li>
            <img src="FlyDreamAir.png" alt="logo" class="mainmenu-img">
          </li>
          <li class="mainmenu-item"><a href="#">Sign In</a></li>
          <li class="mainmenu-item"><a href="#">In-Flight-Services</a></li>
          <li class="mainmenu-item"><a href="#">seat selections</a></li>
          <li class="mainmenu-item"><a href="#">Manage Booking</a></li>
          <li class="mainmenu-item"><a href="#">Flights</a></li>
        </ul>
      </div>
    </header>

    <div id="Main-content-container">
      <main id="main-content" class="" role="main">

        <div class="carousel">
          <img src="Bliss_4096x2160.png" alt="background img">
        </div>
        <div class="tabs">
          <ul>
            <li class="tabs_control">
              <a class="tabs_control_button" id="panel-Book-a-trip" role="tab" aria-selected="true" aria-controls="Book-a-trip">
                <span class="sprite-book-a-trip">
                  Book a Trip
                </span>
              </a>
            </li>
            <li class="tabs_control" >
              <a class="tabs_control_button" id="panel-manage-booking" role="tab" aria-selected="false" aria-controls="manage-booking">
                <span class="sprite-maange-booking">
                  Manage booking
                </span>
              </a>
            </li>
          </ul>
        </div>
      </main>
    </div>
  </div>

</body>
</html>
