<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Services</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "store/css/main.css" %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>{% load static %}
                    <img src="{% static "store/img/FlyDreamAir.png" %}" alt="FlyDreamAir Logo" style="height: 50px;">
                </li>
                <li><a href="/">Book</a></li>
                <li><a href="#">News</a></li>`
                <li><a href="#">Deals</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
    </header>
    <div id="booking-container" style="height: 50%; display: block">
        <div style="text-align: center; margin:auto">
            <h1 style="margin-bottom: 20px">Additional In-Flight Services (Optional)</h1>
        </div>
        <div style="text-align: center; height: 100%; margin-right: 0; width: 65%; margin: auto">
            {% for service in additional_services %}
                <form id="service-form" action="user-payment" method="post">
                    <input type="text" name="seat-id" value="{{ selected_seat.id }}" hidden>
                    <div class="available-flight">
                        <p style="font-size: 18px">{{ service.name }} - ${{ service.price }}</p>
                        <p>{{ service.description }}</p>
                        <button class="select-flight-button" type="submit" style="padding: 10px 20px; margin: 10px auto auto auto;">Add</button>
                    </div>
                </form>
            {% endfor %}
            <form action="user-payment" method="post">
                <input type="text" name="seat-id" value="{{ selected_seat.id }}" hidden>
                <button class="select-flight-button" type="submit" style="margin: 20px auto; text-align: center">Proceed To Payment 🠖</button>
            </form>
        </div>

    </div>
</body>
</html>
